body{background-color:rgba(0, 0, 0, 0.3);background-image: url("../images/Giza-Nile.jpg");
background-attachment: fixed;
background-size: cover;
background-blend-mode:overlay;
color: white;}
a{color: white;text-decoration: none;font-size: larger;}
a:hover{color: aqua;text-decoration: underline;font-size: x-large;}
.title{text-align: center;font-size: 65px;color: black;}
button:hover{background-color: black;color: white;}
.video{direction: rtl;}
.map{direction: ltr;}
#header{color:yellow;}
fieldset{background-color:#efefef65;padding:10px;border:1 px solid #CCC;margin: 20px; width: 1200px ;}
legend{color: white;font-size: large;}
p{background-color: rgba(0, 0, 0, 0.5);color: white;}
h3{background-color: rgba(0, 0, 0, 0.5);color: white;}
.testt{color:orange;
font-size:x-large;}
.theme{color: black;}