body { 
    background-color:rgba(0,0,0,0.6);
     background-image: url(../images/Alexandria_\(2007-05-036\).jpg);
    background-attachment: fixed;
    background-size:cover ;
}
 h1 {
      text-align: center;
      font-size: 100px;
 }
p{
    direction: rtl;
    font-size: 25px;
    text-align: right;
    color: rgb(255, 255, 255);
    padding: 30px ;
    background-color:#575b5a75;
    border-radius: 60px
}
 .map{
    position: relative;
     width: 8px;
     height: 129px;
     left: 85.5%;
     bottom: 734px;
}
.pi1{
     padding: 30px 0px;
     position: relative;
     right: 70px;
}
.mp{  
    direction: rtl;
    font-size: 32px;
    color: rgb(0 255 183);
    padding: 1px ;
    background-color:#272827ba;
    text-align: center;
 }
hr{
    margin: 60px;
}
.pi2{
    position: relative;
    right: 424px;
    top: 50px;
}
.pi3 {
    position: relative;
    right: -866px;
    bottom: 554px;
    width: 8px;
    height: 200px;
}
.pi4 {
    position: relative;
    right: -851px;
    bottom: 654px;
    width: 8px;
    height: 200px;
}
::selection{
    background-color: #122222d6;
    color: #ffd800;
}
