h2{
 
color:	white;
text-align:center;
	}
h1{
color:	white;
text-align:center;
font-size: 45px;
	}
	h3{background-color: rgba(0, 0, 0, 0.5);
color:white;
}
h4{
color:	white;background-color: rgba(0, 0, 0, 0.5);
}
body{background-color: rgba(0, 0, 0, 0.7);background-image: url("../images/خلفية.PNG");background-attachment: fixed;background-size: cover;background-blend-mode:overlay;}
fieldset{background-color:rgba(0, 0, 0, 0.7);padding:10px;border:1 px solid #CCC;margin: 20px; width: 1200px ;}
a{
text-decoration:none;
color:white;
}
a:hover{
	text-decoration:underline;
	color:orange;
	font-size:30px;
}
iframe{text-align:justify; width: 50%;height:50%;
  margin:none;
  border: 3px solid #73AD21;
  overflow:scroll;
  }
  #header{color:white; font-size:30px;}
  .things{font-size: 45px;}
  .theme:hover{color: aqua;font-size: small;}
      button:hover{background-color: black;}
      .theme{text-decoration: none;color: black;}
      button{background-color: white;color: black;}